BOOTSTRAP_SERVERS=XXXXXXXX.aws.confluent.cloud:XXXX 
SASL_USERNAME=XXXXXXXXXXXXXXXXX
SASL_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TOPIC=XXXXXXXXXXXX

DB_URI=postgresql://postgres.SUASENHA:xxxxxxxxxxxx@aws-1-us-west-2.pooler.supabase.com:xxxxx/postgres