# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==============================
# Virtual env
# ==============================
.venv/
env/
venv/

# ==============================
# Env variables (CRÍTICO)
# ==============================
.env

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDE
# ==============================
.vscode/
.idea/

# ==============================
# Streamlit cache
# ==============================
.streamlit/

# ==============================
# Docker
# ==============================
*.pid

# ==============================
# Test artifacts
# ==============================
tests/__pycache__/

# ==============================
# Build
# ==============================
dist/
build/